.principal {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./component/pic/A.png);
  background-size: cover;
}

.test {
  background-image: url(./component/pic/A.png);
  background-size: cover;
  color: white;
}
.li {
  text-align: center;
  border: 4px solid black;
  text-decoration: none;
}

.Nav {
  height: 10%;
  width: 80%;
  position: absolute;
  background-image: url(./component/pic/A.png);
  background-size: cover;
  left: 10%;
  border: solid 0.4vh black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.btn {
  font-size: 3vh;
}

.img {
  height: 30%;
  width: 30%;
  position: absolute;
}

.recherche {
  height: 30%;
  width: 30%;
  font-size: xx-large;
  margin: 2% 0% 2% 30%;
  border-radius: 50px;
}

.valider {
  font-size: xx-large;
  border-radius: 50px;
}

.rien {
  height: 100%;
  position: absolute;
  color: red;
  text-align: center;
  background-image: url(./component/pic/A.png);
  background-size: cover;
}
/* fin */
